* {
  box-sizing: border-box;
  margin: 0;
}
/* Top of the website */
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  margin: 20px 0 30px 0;
}

/* Website Directions */
span {
  font-size: 25px;
}

/* Movie cards */
#movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 100px;
  max-width: 90%;
}

.card {
  margin-left: 200px;
}
/* Movie Image */
.card img {
  margin-top: 15px;
  height: 30rem;
}

/* .card:hover {
  max-height: 10em;
  /* background-color: #696969; 

} */

/* Movie Title */
.card p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  font-weight: bold;
  font-size: 20px;
  margin-top: -5px;
  margin-bottom: 40px;
  max-width: 100%;
}

/* Compare Button */
.compare-container {
  cursor: pointer;
  position: relative;
  transform: translateY(-350px);
  left: 60px;
  max-width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-style: solid;
  font-size: 3em;
  opacity: 0;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: ui-monospace;
}

.compare-container:hover {
  position: relative;
  opacity: 1;

  transition: 0.21s linear;
}

/* Table */

.table-visibility {
  visibility: collapse;
}

.initial-visibility {
  visibility: collapse;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left: 20%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 30px;
  visibility: visible;
}

.vote-colors {
  background-color: white;
}
.vote-colors.high {
  background-color: green;
}
.vote-colors.low {
  background-color: red;
}

.table-heading {
  margin-left: 37%;
}

@media (max-width: 800px) {
  #movies {
    /* flex-direction: column; */
    margin-left: 0;
  }

  .card {
    margin-left: 60px;
    margin-bottom: 100px;
  }

  .card img {
    margin-top: 15px;
  }

  table {
    margin-left: 5px;
  }

  #table-heading {
    margin-left: 15%;
  }

  .card:hover {
    max-height: none;
    background-color: none;
    opacity: none;
  }

  .compare-container {
    transform: translateY(-330px);
    left: 17%;
  }
}
